@import url('https://fonts.googleapis.com/css?family=Arimo&display=swap');

html {
  background-color: #fdf6e3;
  color:  #073642;
  font-family: Arimo;
  text-align: center;
}
h1 {
  color: #dc322f;
}
ul {
  list-style-type: none;
}
nav {
  display: block;
}
a:visited {
  color: #586e75;
}